/* ==================== THÈME AVENTURE LIGHT ==================== */
.theme-aventure-light {
  position: relative;
  min-height: 100vh;
}

.theme-background-aventure-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../assets/aventure/background_aventure.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* ==================== THÈME AVENTURE DARK ==================== */

/* Mode sombre : assombrir l'image */
body.dark-theme .theme-background-aventure-light {
  filter: brightness(0.4) contrast(1.1);
}
