/* ==================== THÈME HORROR LIGHT ==================== */
.theme-horror-light {
  position: relative;
  min-height: 100vh;
}

.theme-background-horror-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../assets/horreur/background_horreur.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}