/* ==================== THÈME SCI-FI LIGHT ==================== */
.theme-sci-fi-light {
  position: relative;
  min-height: 100vh;
}

.theme-background-sci-fi-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../assets/scifi/background_sci_fi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* ==================== THÈME SCI-FI DARK ==================== */

/* Mode sombre : assombrir l'image */
body.dark-theme .theme-background-sci-fi-light {
  filter: brightness(0.4) contrast(1.1);
}
